<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample U2F Authentication</title>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/u2f-api/u2f-api-polyfill.js"></script>
    <script src="/bower_components/highlight/src/highlight.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
